@import '~@angular/material/theming';

mat-form-field {
    width: 100%;
}

mat-slider {
    width: 100%;
    margin: auto;
}

.star-color {
    color: gold;
}

h4 {
    text-align: center; 
    color: mediumblue;
}

mat-icon {
    padding-top: 8px;
}

mat-radio-button {
    padding-right: 5px;
}