
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tv-show-primary: mat-palette($mat-indigo);
$tv-show-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tv-show-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$tv-show-theme: mat-light-theme($tv-show-primary, $tv-show-accent, $tv-show-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tv-show-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

thirty-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.toolbar {
  display: flex; 
  justify-content: space-between;
}

mat-sidenav {
  width: auto;
  background-color: #007C00 !important;
  border-radius: 5px;
  text-align: center;
}

.content-spread {
  display: flex;
  justify-content: space-between;
}

.accent {
  color: #007C00 ;
}

.mat-sidenav-container {
  flex: 1;
  border-radius: 0px 0px 20px 0px;
}

.tvshow-containers {
  display: flex;
  padding: 8px;
  justify-content: space-around;
  border-radius: 8px;

  .tvshow-list {
    width: 49%;
  }

  .tvshow-info {
    width: 49%;
  }

  .mat-tvshowd-dark {
    background-color: grey;
  }
}
