<div class="tvshow-containers">
    <mat-card class="mat-card-dark">
      <mat-card-header>
        <mat-card-title class="accent">
          Login
        </mat-card-title>
      </mat-card-header>
      <form [formGroup]="loginForm" (ngSubmit)="validateLogin();">
          <mat-card-content>
              <mat-form-field class="full-width login-border" style="margin-bottom: 8px;" login-border>
                  <input matInput login-border required placeholder="Username" type="text"
                  formControlName="username">
              </mat-form-field>
            <br>
              <mat-form-field class="full-width login-border">
                  <input matInput required placeholder="Password" type="text"
                  formControlName="password">
              </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button [disabled]="loginForm.invalid" type="submit" mat-button color="primary"
            class="login-border">
                Login
            </button>
            <button styles="right: 5%" type="button" mat-button (click)="loginForm.reset();"
            class="login-border">
              Clear
            </button>
          </mat-card-actions>
      </form>
  </mat-card>
  </div>